# Pycache
__pycache__

# Environment variables
.env
celeryconfig.py

# Data stored locally
/data

# Logs
*.log
logs/*.log

# Jobs
jobs/

# Editor configs
*.editorconfig
.vscode/

# Local cache
.DS_Store
.bash_history
.cache/
.local/
.project
.pydevproject

# Supervisor processes
supervisord.pid